modules = ["python-3.11", "nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Test FastAPI"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "FastAPI Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js App"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "HTML Server"

[[workflows.workflow]]
name = "FastAPI Backend"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m uvicorn backend.api:app --host 0.0.0.0 --port=8002"
waitForPort = 8002

[[workflows.workflow]]
name = "Next.js Dev"
author = 36978150
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Next.js App"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node next-app-server.js"
waitForPort = 5000

[[workflows.workflow]]
name = "HTML Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node html-server.js"
waitForPort = 5001

[[ports]]
localPort = 3000
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8001
externalPort = 8001

[[ports]]
localPort = 8002
externalPort = 3000

[[ports]]
localPort = 8501
externalPort = 3001
