@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #121212; /* Same as our custom gray-900 */
    color: #e5e5e5; /* light gray for text */
  }
}

/* Custom styling */
.bg-gray-gradient {
  background: linear-gradient(180deg, #1C1C1C 0%, #000000 100%);
}