
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111111;
  color: #FFFFFF;
}

.btn-primary {
  background-color: #EAB308;
  color: #000000;
  font-weight: 600;
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.btn-primary:hover {
  background-color: #CA8A04;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-radius: 0.375rem;
  color: #D1D5DB;
}

.sidebar-item:hover {
  background-color: #1F2937;
  color: #FFFFFF;
}

.active-sidebar-item {
  background-color: rgba(202, 138, 4, 0.2);
  color: #FFFFFF;
  border-left: 4px solid #EAB308;
}
